<header class="ms-4 mt-2">
  {{#if loggedIn}}
  <h1 class="font-size-16 display-6 text-center">Welcome, {{{userName}}}</h1>
  {{else}}
  <h1 class="font-size-16 display-6 text-center">A Curated Investing Experience</h1>
  <h4 class="text-muted font-size-12 text-center">Start your portfolio today.</h4>
  <span class="d-flex justify-content-center">&#8964;</span>
  {{/if}}
</header>

<div class="card text-center m-4 justify-content-center">
  <div class="card-header">
    Stock Market
  </div>
  <div class="card-body">
    <h5 class="card-title">Add to your portfolio!</h5>
    <p class="card-text">Click below to browse more stocks and get estimated values.</p>
    <a href="/purchase" class="btn btn-success">Find Stocks</a>
  </div>
</div>

{{#if loggedIn}}
<table class="table m-4">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Shares</th>
      <th scope="col">Share Price</th>
      <th scope="col">Purchase Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each stocks}}
      <tr>
        <td>{{dataValues.stock_name}}</td>
        <td>{{dataValues.shares}}</td>
        <td>${{dataValues.price}}</td>
        <td>${{{calc_purchase_price dataValues.price dataValues.shares}}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<h4 class="ms-4 text-muted font-size-12 text-center">Please <a href="/login" class="text-decoration-none">log in</a> to see your portfolio.</h4>
{{/if}}
